
.breaker {
    width: 100%;
    height: 50px;
    display: block;
    background-color: transparent;
}
.heroHome {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 60fr 20fr 20fr;
    gap: 1.2rem;
}

.top_new,
.primary_new,
.secondary_new,
.terceary_new,
.quarter_new {
    height: 100%;
    /* background: rgba(35, 130, 194, 0.6); */
    margin-top: 0.6rem;
}

.top_new {
    grid-row: span 2;
}
.top_new img,
.primary_new img,
.secondary_new img,
.terceary_new img,
.quarter_new img{
    height: 100%;
    position: relative;
}