
li{
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--clr-primary);
    font-size: 1rem;
}
a:hover{
    color: var(--clr-white);
}

/* HEADER */
header{
    width: 100%;
    position: fixed;
    padding: 0 2rem;
    background-color: var(--clr-white-light);
}
.navbar .logo a {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: bold;
}
.navbar .logo img{
    width: 110px;
}
.navbar {
    width: 90%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: var(--clr-white);
    font-size: 1.6rem;
    cursor: pointer;
    position: relative;
    z-index: 99;
    display: none;
    color: var(--clr-primary);
}

.social i{
    margin-left: 6px;
}
.action_btn{
    background-color: var(--clr-primary);
    color: var(--clr-white);
    padding: 0.6rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
}

.action_btn:hover {
    scale: 1.05;
    color: #fff;
}
.action_btn:active{
    scale: 0.95;
}

/* RESPONSIVE DESIGN */
@media(max-width: 992px){
    /* Mobile Menu */
    .navbar .links{
        position: absolute;
        flex-direction: column;
        text-align: center;
        top: 0.4rem;
        right: 0.4rem;
        background: rgba(255, 255, 255, 0.8);
        padding: 6rem;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

        opacity: 0;
        pointer-events: none;
    }
    .navbar .links a {
        color: #000;
    }
    .navbar .action_btn {
        position: absolute;
        width: 180px;
        right: 46px;
        top: 340px;

        opacity: 0;
        pointer-events: none;
    }
    .navbar .toggle_btn {
        display: block;
    }
}

@media(max-width: 576px){
    .navbar .links{
        width: 97.6%;
        height: 100vh;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .navbar .action_btn {
        right: 34%;
    }
}

@media(max-width: 432px){
    .navbar .action_btn {
        right: 30%;
    }
}

@media(max-width: 375px){
    .navbar .links{
        width: 96.7%;
    }
    .navbar .action_btn {
        right: 26%;
    }
}